bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.EmailAttachmentExtractor/.idea/encodings.xml
/.idea/.idea.EmailAttachmentExtractor/.idea/indexLayout.xml
/.idea/.idea.EmailAttachmentExtractor/.idea/prettier.xml
/.idea/.idea.EmailAttachmentExtractor/.idea/vcs.xml
